//____________________________________________ STYLE SHEET ___________________________________________

//____________________________________________ GENERAL ______________________________________________

//____________________________________________ Variables ______________________________________________
:root{
  --main: 176, 108, 152;
  --secondary: 37, 67, 67;
  --grey: 104, 121, 123;
  --light-grey: 182, 195, 199;
  --white: 250, 250, 250;
  --black: 0, 0, 0;
}

//____________________________________________ Main ______________________________________________
body, html {
  background: linear-gradient(to bottom, rgba(var(--white)) 0%, rgba(var(--main)) 100%);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.main {
  display: flex;
  flex-direction: column;
}
//____________________________________________ Navigation ______________________________________________
.navBar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: rgba(var(--black));
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: rgba(var(--white));
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation .navElements{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.navElem a{
  text-decoration: none;
  color: rgba(var(--white))
}

.navLogo{
  display: flex;
  width: 25%;
  height: 50px;
  background-image: url('./graphics/LOGO.svg');
  background-size: contain;
  background-repeat: no-repeat;
}


//____________________________________________ Font ______________________________________________
h1{
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 200;
  font-size: 25px;
}

h2, h3 {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}