//____________________________________________ STYLE SHEET ___________________________________________

//____________________________________________ GENERAL ______________________________________________

//____________________________________________ Variables ______________________________________________
:root{
  // main forward colors
  --main: 176, 108, 152;
  --dark-main: 88, 8, 60;
  --secondary: 37, 67, 67;
  --grey: 104, 121, 123;
  --light-grey: 182, 195, 199;
  --white: 250, 250, 250;
  --black: 0, 0, 0;

  //background gradient colors
  --grey-blue: #7695C6;
  --light-purple: #C8CFFF;
  --vivid-purple: #AAA6FD;
  --light-blue: #E0EEFE;
  --orange-yellow: #F8E8D6;

}

//____________________________________________ Main ______________________________________________
body, html {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

//____________________________________________ Navigation ______________________________________________
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: flex;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.bm-item a{
  text-decoration: none;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
//===============================================================================================
//____________________________________________ Home Page _________________________________________
//===============================================================================================

.homePage{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
}


//------------------------------ top navigation ----------------------------
.topAnimation{
  display: flex;
  flex-direction: column;
  background-image: url('../src/Images/background_pond_longer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-origin: center;
  width: 100%;
}

//------------------------------ header ------------------------------------
.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  padding-bottom: 15%;
}
//------------------------------ section 1 ------------------------------------
.section1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1_line{
  display: flex;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.section1_content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 5%;
}
.section1_logo{
  width: 80%;
}

.wordWrapper{
  display: flex;
  flex-direction: row;
}

.titleAnimation{
  display: flex;
  flex-wrap: wrap;
}

.headerTitle{
  margin: 0;
  padding: 0;
}

.headerTitle{
  transition: 500ms;
}

.headerTitle:hover{
  transform: translateY(-25px);
}

#titleBreak{
  padding-left: 25px;
}

//------------------------------ section 2 ------------------------------------
.section2{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.section2_line{
  display: flex;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.section2_title{
  padding-top: 5%;
  padding-bottom: 5%;
}

.section2_icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

//---------------- section 2 notes

.section2_icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section2_note{
  display: flex;
  flex-direction: column;
  background-color: #16161a;
  max-width: 35%;
  margin: 10px;
  padding: 4%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


//------------------------------ section 3 ------------------------------------
.section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3_lineHeader{
  display: flex;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.section3_title{
  padding-top: 5%;
}

.section3_subsections{
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  padding-top: 5%;
  padding-left: 10%;
}

.section3_subsection{
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  padding-top: 1%;
  padding-left: 15%;
}

.vinylRecord{
  display: flex;
  width: 60%;
  position: absolute;
  left: -35%;
}

//------------------------------ upsidedown background image ------------------------------------
.bottom_animation{
  display: flex;
  flex-direction: column;
  background-image: url('../src/Images/background_upsidedown_grey.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-origin: center;
  width: 100%;
}

// src/Images/background_pond_greyscale_upsidedown.png
//------------------------------ section 4 ------------------------------------
.section4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4_lineHeader{
  display: flex;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.myCar{
  background-color: #ffffff;
  width: 80%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin-bottom: 10%;
}

.carousel-status{
  display: none;
}

//------------------------------ section 5 ------------------------------------
.section5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section5_lineHeader{
  display: flex;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.section5_subtitle{
  display: flex;
  padding-bottom: 5%;
}

.signUp{
  display: flex;
  width: 70%;
  height: 55px;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-radius: 25px;
  max-width: 650px;
}

.signUp input{
  width: 80%;
  height: 50%;
  border-radius:10px;
  box-shadow: none;
  inset: none;
  border: none;
  justify-self: center;
  align-self: center;
}

.signUp button{
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  box-shadow: none;
  inset: none;
  border: none;
  vertical-align: bottom;
  padding: 2%;
}

.detailedSignUp{
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  box-shadow: none;
  inset: none;
  border: none;
  vertical-align: bottom;
  padding: 20px;
}

//------------------------------ section 6 ------------------------------------
.section6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.section6_lineHeader{
  display: flex;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.section6_title{
  display: flex;
  padding-top: 5%;
}

.bottomNavigation{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;  
  justify-content: space-between;
  padding-bottom: 10%;
}

.bottomNavigationElements{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
}

.bottomNavigationElements li{
  list-style: none;
}

.bottomNavigationElements li a{
  text-decoration: none;
  color: #242424;
}



//____________________________________________ Fonts ______________________________________________
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
}

h2, h3, a {
  font-family: 'Kameron', serif;
  font-weight: 200;
}

p {
  font-family: 'Kameron', serif;
  font-weight: 200;
}


//------------------ header fonts
.headerTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 95px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0%;
}

.headerSubTitle{
  font-weight: 100;
  font-family: 'Kameron', serif;
  font-size: 27px;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  color: #5d5e62;
}

//------------------ section1 fonts
.section1_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-size: 60px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0%;
  padding-left: 5%;
}

//------------------ section2 fonts
.section2_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 40px;
  text-align: center;
}

.section2_note{
  color: rgb(224, 224, 224);
}

//-------- note titles
.note_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size: 20px;
  text-align: left;
  color: var(--white);
}

.note_subtitle{
  font-family: 'Kameron', serif;
  font-weight:400;
  font-size: 20px;
  text-align: left;
  color: rgb(140, 140, 140);
}

.note_text{
  font-family: 'Kameron', serif;
  font-weight:200;
  font-size: 15px;
  color: rgb(140, 140, 140);
}


//------------------ section3 fonts
.section3_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 40px;
  text-align: center;
}

.section3_noteTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0%;
}

.section3_noteText{
  font-family: 'Kameron', serif;
  font-weight:200;
  font-size: 15px;
  color: rgb(140, 140, 140);
  margin-top: 0%;
}

//------------------ section4 fonts
.section4_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 40px;
  text-align: center;
}

.slide_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0%;
}

.slide_text{
  font-family: 'Kameron', serif;
  font-weight:200;
  font-size: 15px;
  color: rgb(140, 140, 140);
  margin-top: 0%;
}

//------------------ section4 fonts
.section5_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  font-size: 40px;
  text-align: center;
}

.section5_subtitle{
  font-weight: 100;
  font-family: 'Kameron', serif;
  font-size: 20px;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  color: #5d5e62;
}
.or{
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  font-size: 30px;
  text-align: center;
}

.signUp *{
  font-weight: 100;
  font-family: 'Kameron', serif;
  font-size: 15px;
  color: #5d5e62;
}

.singUpButton{
  color: #0e0e0e;
}

.detailedSignUp{
  font-weight: 300;
  font-family: 'Kameron', serif;
  font-size:18px;
  color: #242424;
}


//------------------ section5 fonts
.section5_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  font-size: 40px;
  text-align: center;
}

.section5_subtitle{
  font-weight: 100;
  font-family: 'Kameron', serif;
  font-size: 20px;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  color: #5d5e62;
}
.or{
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  font-size: 30px;
  text-align: center;
}

.signUp *{
  font-weight: 100;
  font-family: 'Kameron', serif;
  font-size: 15px;
  color: #5d5e62;
}

.singUpButton{
  color: #0e0e0e;
}

.detailedSignUp{
  font-weight: 300;
  font-family: 'Kameron', serif;
  font-size:18px;
  color: #242424;
}

//------------------ section6 fonts
.section6_title{
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  font-size: 40px;
  text-align: center;
}

.navElem a{
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size: 20px;
  text-align: center;
}